<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <footer>
            <hr>
            <div class="footer-content">
                <p>MEAL SURPRISE</p>
                <div class="links">
                    <a>Home</a>
                    <a>About US</a>
                    <a>Store</a>
                    <a>Blog</a>
                    <a>All pages</a>
                </div>
            </div>
            <hr>
        </footer>
    </body>
</html>